<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="SteamPower" providerName="System.Data.SqlClient"  connectionString="Server=MMC03\SQLEXPRESS; Integrated Security=True; Database=Thermodynamics;User Id=ThermodynamicsUser; Password=power2018; "/>
  </connectionStrings>
</configuration>